<div class="flex justify-end items-center mb-4">
  <p-button label="Kunde erstellen" (click)="showCreateCustomerDialog()"/>
</div>
<p-dialog header="Kunde erstellen" [modal]="true" [(visible)]="createCustomerDialogVisible"
          [style]="{ width: '25rem' }">
  <app-customer-form
    (formCancel)="createCustomerDialogVisible = false"
    (formSubmit)="onCreateCustomer($event)"
  ></app-customer-form>
</p-dialog>
<p-card>
  <p-table [value]="customers"
           [tableStyle]="{ 'min-width': '50rem' }"
           [paginator]="true"
           [rows]="rows"
           [showCurrentPageReport]="false"
           [first]="first"
           [rowsPerPageOptions]="[5,10,20]">

    <ng-template #header>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Unternehmen</th>
        <th>Rechnungen Wert</th>
        <th>Aktion</th>
      </tr>
    </ng-template>
    <ng-template #body let-customer>
      <tr>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.company }}</td>
        <td>{{ customer.invoiceValue }} CHF</td>
        <td>
          <div class="flex gap-4">
            <app-icon name="pencil" (click)="editCustomer(customer)"/>
            <app-icon class="text-red-600" name="trash" (click)="deleteCustomer(customer)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
